@font-face {font-family: Big Sky; src: url('./fonts/BigSky.ttf'); }
@font-face {font-family: Awesome Birds; src: url('./fonts/AwesomeBirds.ttf'); }

.space {
  margin-top: 40px;
}

#title {
  text-align: center;
  font-family: "Awesome Birds";
  font-size: 100px;
}
